<script>
    $('#exampleModal').modal('show');
    $(function () {
        // Multiple images preview in browser
        var imagesPreview = function (input, placeToInsertImagePreview) {

            if (input.files) {
                var filesAmount = input.files.length;

                for (i = 0; i < filesAmount; i++) {
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        $($.parseHTML('<img  width="50px" height="50px" class="p-1">')).attr('src', event.target.result).appendTo(placeToInsertImagePreview);
                    }

                    reader.readAsDataURL(input.files[i]);
                }
            }

        };

        $('#multiFiles').on('change', function () {
            $('div#remove > img').remove();
            imagesPreview(this, 'div.gallery');
        });
    });
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/uploadimg.js') }}"></script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ເລືອກຮູບພາບໃບໜ້າຂອງທ່ານ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="done">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="multiFiles" multiple="multiple">
                        <label class="custom-file-label" for="customFile">ເລືອກໄຟຣ</label>
                    </div>
                </div>
                <p id="msg"></p>
                <div class="gallery" id="remove">
                    <img id="blah" src="static/default/no-image.jpg" alt="your image" class="img-fluid img-thumbnail"/>
                </div>
            </div>
            <div class="modal-footer">
                <span id="next_reg" style="display: none">
                    <a href="{{ url_for('register_route.register') }}" class="btn btn-primary" >
                        <il class="fa fa-hourglass-end"></il>
                        ລົງທະບຽນ ຜູ້ຕໍ່ໄປ
                    </a>
                </span>
                <span id="close_pr">
                    <button type="button" class="btn btn-primary" id="upload">
                        <il class="fa fa-hourglass-end"></il>
                        ປະມວນຜົນຮູບພາບ
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>