<nav class="navbar navbar-expand-sm bg-info navbar-inverse d-flex">
    <a class="navbar-brand " href="#">ການກວດຈັບໃບໜ້າ</a>
    <button class="navbar-toggler navbar-toggler-right btn btn-danger" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active ml-auto">
                <a class="nav-link" href="/register"> <i class="fa fa-registered"></i> ລົງທະບຽນ</a>
            </li>
            <li class="nav-item active ml-auto">
                <a class="nav-link" href="/"> <i class="fa fa-cogs"></i> ວິທີການຕິດຕັ້ງ ແລະ Run</a>
            </li>
            <li class="nav-item active ml-auto">
                <a class="nav-link" href="/"> <i class="fa fa-window-restore"></i> ຄົ້ນຄ້ວາໂດຍ</a>
            </li>
        </ul>
    </div>
</nav>