<nav class="navbar navbar-expand-sm bg-info navbar-inverse d-flex fixed-top ">
    <a class="navbar-brand " href="/">
        <il class="fa fa-id-card"></il>
        <span class="text_t">AI ກວດສອບຮັບຮູ້ໃບໜ້າ</span></a>
    <button class="navbar-toggler navbar-toggler-right btn btn-danger" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active mr-auto">
                <a class="nav-link" href="/register"> <i class="fa fa-registered"></i> ລົງທະບຽນຂໍ້ມູນບັດປະຈໍາຕົວ</a>
            </li>
            <li class="nav-item active mr-auto">
                <a class="nav-link" href="/listregister"> <i class="fa fa-users"></i> ລາຍຊື່ຂໍ້ມູນບັດປະຈໍາຕົວ</a>
            </li>
            <li class="nav-item active mr-auto">
                <a class="nav-link" href="/setting"> <i class="fa fa-cog"></i> ຕັ້ງຄ່າ</a>
            </li>

            {% if session['login'] and session['login']['type']=="Admin" %}
                <li class="nav-item active mr-auto">
                    <a class="nav-link" href="/install"> <i class="fa fa-cogs"></i> ວິທີການຕິດຕັ້ງ ແລະ Run</a>
                </li>
            {% endif %}
            <li class="nav-item active mr-auto">
                <a class="nav-link" href="/"> <i class="fa fa-window-restore"></i> ຄົ້ນຄ້ວາໂດຍ</a>
            </li>
            <li class="nav-item active ml-auto ">
                <a class="nav-link text-danger" href="/logout"> <i class="fa fa-sign-out-alt"></i> ອອກລະບົບ</a>
            </li>
        </ul>
    </div>
</nav>
<div class="mb-5"></div>